service-account.json
.env
Translation_API.ipynb
RAG Chunking/.env
RAG Chunking/venv
kn_IndicNER_v1.0/kn_train.json
__pycache__/roman.cpython-311.pyc
__pycache__/miniproj.cpython-311.pyc
BiLSTM Chunking/__pycache__/main_model.cpython-311.pyc